<div class="col-md-3">
    <div ng-if="expertise_list.length == 0" class="alert-info welcome no-expertise">На жаль вам не доступна ні одна експертиза</div>
    <ul class="list-group" ng-if="expertise_list.length != 0">
        <h2>Виберіть експертизу для оцінювання:</h2>
        <li class="list-group-item list-group-item-info list-expertise" ng-repeat="item in expertise_list" ng-click="show(item)">
            <span class="expertise-name">{{item.name}}</span>
        </li>
    </ul>
</div>

<div class="col-md-9">
    <tabset ng-if="expertise">
        <tab heading="Оцінювання">
            <ng-include src="'views/tabs/evaluation.html'"></ng-include>
        </tab>
        <tab heading="Результати" ng-click="result(expertise)">
            <ng-include src="'views/tabs/result.html'"></ng-include>
        </tab>
    </tabset>
</div>
