<div class="modal-header">
    <h3 class="modal-title">Створити експертизу</h3>
</div>
<div class="modal-body">
        <div class="form-group">
            <label>Назва експертизи
                <input ng-model="expertise.name" class="form-control" type="text"/></label>
        </div>
        <div class="form-group">
            <label>Ціль
                <textarea class="form-control" ng-model="expertise.goal" rows="3"></textarea></label>
        </div>
</div>
<div class="modal-footer">
    <button ng-hide="edit" ng-click="save(expertise)" class="btn btn-success">Створити</button>
    <button ng-show="edit" ng-click="update(expertise)" class="btn btn-success">Зберегти</button>
    <button class="btn btn-warning" ng-click="cancel()">Відміна</button>
</div>