<div class="modal-header">
    <h3 class="modal-title">Вхід</h3>
</div>
<div class="modal-body">
    <div ng-include data-src="'/views/shared/notify.html'"></div>

    <form name="form" ng-submit="login(user, form)" class="form-login {{notify.type}}" novalidate>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="E-mail" name="username" required autofocus focus ng-model="user.username">
            <div ng-show="form.username.$error.required" class="error-message">Username is required</div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password" required ng-model="user.password">
        </div>


        <div class="wrapper-checkbox">
            <input type="checkbox" name="checkboxG1" id="checkboxG14" class="css-checkbox" ng-model="user.checked" />
            <label for="checkboxG14" class="css-label-checkbox">
                Remember me
            </label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="login(user, form)" class="btn btn-lg btn-block" type="submit">Логін</button>
</div>