<div class="col-md-3">
    <div class="block-menu" ng-if="currentUser.isAdmin">
        <button ng-click="expertiseModalWindow()" class="add-expertise-btn">&nbsp;Додати анкету</button>
    </div>
    <div ng-if="expertise_list.length == 0" class="alert-info welcome no-expertise">На жаль вам не доступна ні одна анкета</div>
    <ul class="list-group" ng-if="expertise_list.length != 0">
        <h2>База анкет:</h2>
        <li class="list-group-item list-group-item-info list-expertise" ng-repeat="item in expertise_list" ng-click="show(item)">
            <span class="expertise-name">{{item.name}}</span>
            <i ng-click="removeExpertiseModalWindow(item)" class="glyphicon glyphicon-remove remove-expertise"></i>
            <i ng-click="expertiseModalWindow(item)" class="glyphicon glyphicon-pencil remove-expertise"></i>
        </li>
    </ul>
</div>

<div class="col-md-9">
    <tabset ng-if="expertise.name">
        <tab heading="{{ tab.title}}" ng-repeat="tab in tabs">
            <div ng-include data-src="'views/tabs/' + tab.content + '.html'"></div>
        </tab>
    </tabset>
</div>
