<div ng-include data-src="'views/shared/header.html'"></div>

<div class="wrapper-home">
    <h1 class="title">Експертне оцінювання</h1>
    <p class="alert-info welcome">Вітаємо Вас на сайті проекту "Експертиза".
        Тут ви можете ознаймитись з існуючими методами розв’язку задач прийняття рішень та застосувати їх для себе.
    </p>
    <tabset vertical="true" type="pills" class="methods">
      <div ng-repeat="method in methods">
        <div ng-switch on="(method.children && method.children.length != 0)? 'notNull': 'null'">
            <span ng-switch-when="notNull">
                <accordion close-others="oneAtATime" class="methods">
                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            {{method.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </accordion-heading>

                        <tab heading="{{item.title}}" class="custom-tab" ng-repeat="item in method.children">
                            <button ng-hide="editText$index" class="btn btn-primary glyphicon glyphicon-pencil" ng-click="editText$index = true; tempText= item.text">&nbsp; Редагувати</button>
                            <button ng-show="editText$index" class="btn btn-success glyphicon glyphicon-ok" ng-click="editText$index = false; updateMethod(item)">&nbsp; Зберегти</button>
                            <button ng-show="editText$index" class="btn btn-danger glyphicon glyphicon-share-alt" ng-click="editText$index = false; item.text=tempText">&nbsp; Відміна</button>
                            <div ng-if="!editText$index" ng-bind-html="item.text"></div>

                            <text-angular ng-show="editText$index" ng-model="item.text"></text-angular>
                        </tab>
                    </accordion-group>
                </accordion>
            </span>
            <span ng-switch-when="null">
                <tab heading="{{method.title}}" class="custom-tab">
                    <button ng-hide="editText$index" class="btn btn-primary glyphicon glyphicon-pencil" ng-click="editText$index = true">&nbsp; Редагувати</button>
                    <button ng-show="editText$index" class="btn btn-success glyphicon glyphicon-ok" ng-click="editText$index = false; updateMethod(item)">&nbsp; Зберегти</button>
                    <button ng-show="editText$index" class="btn btn-danger glyphicon glyphicon-share-alt" ng-click="editText$index = false; item.text=tempText">&nbsp; Відміна</button>
                    <div ng-if="!editText$index" ng-bind-html="method.text"></div>
                    <text-angular ng-show="editText$index" ng-model="method.text"></text-angular>
                </tab>
            </span>
        </div>
      </div>
</tabset>

    <p class="alert-success welcome">Для того щоб застосувати їх практично Ви маєте зареєструватись!</p>
</div>
