<% include ../_shared/header/html %>

<div style="padding: 20px;">

<p>Hello <%= firstName %>,</p>

<p>your account was activated.</p>

<p>Login with you email and password at <a href="<%= successConfirmationLink %>">successConfirmationLink</a></p><br/>

<p>ExpertiSe team.</p>

</div>

<br/>
<% include ../_shared/footer/html %>