<h2>Експертиза: {{expertise.name}}</h2>
<span class="expertise-goal">Ціль: {{expertise.goal}}</span>
<div class="form-group">
    <label>Назва альтернативи
        <input ng-model="alternative.name" class="form-control" type="text"/>
    </label>
    <button ng-click="addAlternative(alternative, expertise)" class="btn btn-success" ng-disabled="!alternative.name">Додати альтернативу</button>
</div>
<div class="criterions">
    <ul>
        <h2 ng-show="expertise.alternatives">Альтернативи:</h2>
        <li ng-repeat="item in expertise.alternatives">
            {{item.name}}
            <button ng-click="removeAlternativeModalWindow(item)" class="btn btn-danger glyphicon glyphicon-trash remove"></button>
        </li>
    </ul>
</div>