<h2>Експертиза: {{expertise.name}}</h2>
<span class="expertise-goal">Ціль: {{expertise.goal}}</span>
<div class="form-group">
    <form ng-submit="addCriterion(criterion, expertise)">
    <label>Назва критерію
        <input ng-model="criterion.name" class="form-control" type="text"/>
    </label>
        </form>
    <button ng-click="addCriterion(criterion, expertise)" class="btn btn-success" ng-disabled="!criterion.name">Додати критерій</button>
</div>
<div class="criterions">
    <ul><h2>Критерії:</h2>
        <li ng-repeat="item in expertise.criterions">
            {{item.name}}
            <button ng-click="removeCriterionModalWindow(item)" class="btn btn-danger glyphicon glyphicon-trash remove"></button>
        </li>
    </ul>
</div>