<header class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <nav class="collapse navbar-collapse">
            <a id="logo" href="/welcome">EXPERTISE</a>
            <ul class="nav navbar-nav pull-right">
                <li><a href="#">Експертизи</a></li>
                <li><a id="sign_out" href="#">Користувач</a></li>
                <li ng-click="loginModelOpen()"><a href="#">Вхід</a></li>
                <li ng-click="signupModelOpen()"><a href="#">Регістрація</a></li>
            </ul>
        </nav>
    </div>
</header>