<header class="navbar navbar-inverse" role="navigation">
    <nav class="collapse navbar-collapse">
        <a id="logo" href="/welcome">EXPERTISE</a>
        <ul class="nav navbar-nav pull-right">
            <li ng-show="user"><a href="/expertise">Експертизи</a></li>
            <li ng-show="user" tooltip-placement="bottom" tooltip="Цей функціонал ще не реалізований"><a id="sign_out" href="#">Користувач</a></li>
            <li ng-hide="user" ng-click="loginModelOpen()"><a href="#">Вхід</a></li>
            <li ng-hide="user" ng-click="signupModelOpen()"><a href="#">Реєстрація</a></li>
            <li ng-show="user"><a target="_self" ng-href="/logout">Вихід</a></li>

        </ul>
    </nav>
</header>