@import "../lib/bootstrap/less/bootstrap.less";
@icon-font-path: "../lib/bootstrap/fonts/";

.navbar-nav .singned-user {
  float: left;
  margin-top: 13px;
  margin-right: 25px;
}

#logo {
  color: #e8e8e8;
  float: left;
  margin-left: 15px;
  margin-top: 5px;
  font-size: 29px;
  font-family: Purisa;
  text-decoration: none;
}

.block-menu {
    min-height: 40px;
}

.nav-tabs li {
    cursor: pointer;

    a:focus {
      outline: inherit;
    }
}

.modal-dialog {
    width: 300px;

    .modal-content {
       width: 350px;
    }
}

.modal-body .form-group label {
    width: 100%;
}

.modal-content .icon-remove {
  position: absolute;
  top: 15px;
  right: 7px;
  display: block;
  width: 20px;
  height: 20px;
  background: url('../images/icon_close.png') 0 0 no-repeat;
}

.modal-content .icon-remove:hover {
  cursor: pointer;
  background: url('../images/icon_close_hover.png') 0 0 no-repeat;
}

.title {
    margin: 0 5%;
    text-shadow: 1px 0 12px rgba(54, 118, 231, 0.5);
}

.welcome {
    width: 600px;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 15px;
    padding: 12px;
    border: 1px solid #0086B3;
    border-radius: 15px;
    box-shadow: 1px 0 12px rgba(0,0,0,0.5);
}

.methods {
    width: 600px;
    font-size: 16px;
    margin-left: 20px;

}
.wrapper-home .tab-pane.ng-scope.active {
    position: absolute;
    left: 650px;
    top: 0;
    font-size: 17px;
    padding-right: 15px;
    overflow-y: auto;
    height: 443px;
}

.wrapper-home {
    position: relative;
}

.panel-heading {
    cursor: pointer;
}

.custom-tab a {
    display: inline-block;
    height: 42px;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;

}

.nav-pills.nav-stacked li {
    cursor: pointer;
}

.custom-tab:hover {
    border-radius: 5px;
    background-color: #eee;
}

.custom-tab.active {
    border-radius: 5px;
    background-color: #428bca;
}

.custom-tab.active a {
    color: #ffffff;
}

.list-group .list-expertise {
    color: #0F43E9;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(81, 211, 159, 0.33);
    border-radius: 75px;
    margin-bottom: 5px;
}

.list-group .list-expertise:hover {
    color: #0100f7;
    background-color: rgba(78, 189, 139, 0.58);
}

.list-group .list-expertise .remove-expertise {
    float: right;
    margin-top: 2px;
}

.list-group .list-expertise .remove-expertise:hover {
    color: rgba(236, 236, 236, 0.97);
}

.expertise-goal {
    font-style: oblique;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.58);
}

.criterions {
  ul {
    padding-left: 0;

    li {
      margin-left: 20px;
      list-style: none;
      padding-bottom: 8px;
    }
  }
}

.expertise-name {
  display: inline-block;
  width: 80%;
}
.panel-group {
  margin-bottom: 0px;
}

.add-btn:extend(.btn, .btn-success all) {}
.delete-btn:extend(.btn, .btn-danger all) {}
.edit-btn:extend(.btn, .btn-primary all, .glyphicon, .glyphicon-pencil all) {}
.save-btn:extend(.btn, .btn-success all, .glyphicon, .glyphicon-ok all) {}
.cancel-btn:extend(.btn, .btn-danger all, .glyphicon, .glyphicon-share-alt all) {}
.add-expertise-btn:extend(.btn all, .btn-lg all, .btn-primary all, .glyphicon all, .glyphicon-plus all){}

.experts-table:extend(.table all, .table-hover all) {
  .delete-btn {
    display: none;
  }
  .added_expert {
    .add-btn {
      display: none;
    }
    .delete-btn {
      display: block;
    }
  }
}

input {
  margin-top: 0 !important;
  line-height: 20px !important;
}

label {
  display: inline-block;
  font-size: 12px;
}

select {
  width: 100%;
  height: 40px;

  &:focus {
    border: 1px solid #66afe9;
  }
}

.form-control {
  max-width: 300px;
}

.no-expertise {
  width: 430px;
}

/* Message Box
**********************/
.alert-warning {
  background-color: rgba(120, 120, 120, 0.80);
  color: #54FF84;
  font-weight: bold;
  border: none;
}
.custom-massage-box {
  min-height: 40px;
  width: 311px;
  padding: 10px;
  position: absolute;
  top: 53px;
  margin: auto 50%;
  z-index: 1000;
  padding-right: 22px;
}
.alert-dismissable .close {
  position: absolute;
  top: 7px;
  right: 9px;
}

.evaluation-page {
  li {
    list-style: none;
  }
  .panel-heading {
    padding: 0;

    a.accordion-toggle {
      outline: none;
    }
  }
  .criteria-name {
    text-align: center;
    background-color: rgb(224, 224, 224);
    padding: 11px;
    margin: 0;
    width: 100%;
  }

  .md-whiteframe-z4 {
    margin-bottom: 22px;
  }
}

.save-btn {
  margin-top: -18px;
  button {
    display: inline-block;
  }
}

md-button.save-btn:not([disabled]):hover, md-button.save-btn:not([disabled]).focus {
  background-color: darken(@btn-success-bg, 10%);;
}

.title-expertise-method {
  text-align: center;
}

.mark-icon {
  background-color: #03a9f4;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  height: 22px;
  border-radius: 19px;
  color: #ffffff;
  font-weight: bold;
  font-style: normal;

  &.empty {
    background-color: #F76B6B;
  }

  &.max {
    background-color: @btn-success-bg;
  }

}

md-input-group.md-input-focused label, .md-input-group.md-input-focused label {
  color: #03a9f4;
  -webkit-transform: translate3d(0, 4px, 0) scale(0.75);
  transform: translate3d(0, 4px, 0) scale(0.75); }
md-input-group.md-input-focused input, md-input-group.md-input-focused textarea, .md-input-group.md-input-focused input, .md-input-group.md-input-focused textarea {
  color: #2f2f2f;
  border-color: #03a9f4;
  border-bottom-width: 2px; }
md-input-group.md-input-has-value label, .md-input-group.md-input-has-value label {
  color: #03a9f4;
  -webkit-transform: translate3d(0, 4px, 0) scale(0.75);
  transform: translate3d(0, 4px, 0) scale(0.75); }



m-slider {
  height: 48px;
  position: relative;
  display: block;
  margin-left: 4px;
  margin-right: 4px;
  /**
   * Track
   */
  /**
   * Slider thumb
   */
  /* The sign that's focused in discrete mode */
  /**
   * The border/background that comes in when focused in non-discrete mode
   */
  /* Don't animate left/right while panning */ }
m-slider .slider-track-container {
  width: 100%;
  position: absolute;
  top: 23px;
  height: 2px; }
m-slider .slider-track {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  background: #C8C8C8; }
m-slider .slider-track-fill {
  background: #03A9F4;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear; }
m-slider .slider-track-ticks {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%; }
m-slider .slider-thumb-container {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear; }
m-slider .slider-thumb {
  z-index: 1;
  position: absolute;
  left: -19px;
  top: 5px;
  width: 38px;
  height: 38px;
  border-radius: 38px;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear; }
m-slider .slider-thumb:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  border: 3px solid #03a9f4;
  background-color: #03a9f4; }
m-slider .slider-sign {
  /* Center the children (slider-thumb-text) */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: -14px;
  top: -20px;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  background-color: #03a9f4;
  -webkit-transform: scale(0.4) translate3d(0, 70px, 0);
  transform: scale(0.4) translate3d(0, 70px, 0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  /* The arrow pointing down under the sign */ }
m-slider .slider-sign:after {
  position: absolute;
  content: '';
  left: -0px;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 16px solid #03a9f4;
  opacity: 0;
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
m-slider .slider-sign .slider-thumb-text {
  z-index: 1;
  color: white;
  font-size: 12px;
  font-weight: bold; }
m-slider .slider-focus-thumb {
  position: absolute;
  left: -24px;
  top: 0px;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  display: none;
  opacity: 0;
  background-color: #C0C0C0;
  -webkit-animation: sliderFocusThumb 0.4s linear;
  animation: sliderFocusThumb 0.4s linear; }
m-slider .slider-focus-ring {
  position: absolute;
  left: -24px;
  top: 0px;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  border: 2px solid #D6D6D6;
  background-color: transparent;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }
m-slider .slider-disabled-thumb {
  position: absolute;
  left: -22px;
  top: 2px;
  width: 44px;
  height: 44px;
  border-radius: 44px;
  -webkit-transform: scale(0.35);
  -ms-transform: scale(0.35);
  transform: scale(0.35);
  border: 6px solid white;
  display: none; }
m-slider.slider-min .slider-thumb:after {
  background-color: white; }
m-slider.slider-min .slider-sign {
  opacity: 0; }
m-slider:focus {
  outline: none; }
m-slider.panning .slider-thumb-container, m-slider.panning .slider-track-fill {
  -webkit-transition: none;
  transition: none; }
m-slider:not([discrete]) {
  /* Hide the sign and ticks in non-discrete mode */ }
m-slider:not([discrete]) .slider-track-ticks, m-slider:not([discrete]) .slider-sign {
  display: none; }
m-slider:not([discrete]):not([disabled]):hover .slider-thumb {
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6); }
m-slider:not([discrete]):not([disabled]):focus .slider-focus-thumb, m-slider:not([discrete]):not([disabled]).active .slider-focus-thumb {
  display: block; }
m-slider:not([discrete]):not([disabled]):focus .slider-focus-ring, m-slider:not([discrete]):not([disabled]).active .slider-focus-ring {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
m-slider:not([discrete]):not([disabled]):focus .slider-thumb, m-slider:not([discrete]):not([disabled]).active .slider-thumb {
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85); }
m-slider[discrete] {
  /* Hide the focus thumb in discrete mode */ }
m-slider[discrete] .slider-focus-thumb, m-slider[discrete] .slider-focus-ring {
  display: none; }
m-slider[discrete]:not([disabled]):focus .slider-sign, m-slider[discrete]:not([disabled]):focus .slider-sign:after, m-slider[discrete]:not([disabled]).active .slider-sign, m-slider[discrete]:not([disabled]).active .slider-sign:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1); }
m-slider[disabled] .slider-track-fill {
  display: none; }
m-slider[disabled] .slider-thumb {
  -webkit-transform: scale(0.35);
  -ms-transform: scale(0.35);
  transform: scale(0.35); }
m-slider[disabled] .slider-thumb:after {
  border-color: #BEBEBE; }
m-slider[disabled]:not(.slider-min) .slider-thumb:after {
  background-color: #BEBEBE; }
m-slider[disabled] .slider-disabled-thumb {
  display: block; }
