@import "../lib/bootstrap/less/bootstrap.less";
@icon-font-path: "../lib/bootstrap/fonts/";

.main-container {
  height: 100%;
  overflow: hidden;
}

.navbar-nav .singned-user {
  float: left;
  margin-top: 13px;
  margin-right: 25px;
}

#logo {
  color: #e8e8e8;
  float: left;
  margin-left: 15px;
  margin-top: 5px;
  font-size: 29px;
  font-family: Purisa;
  text-decoration: none;
}

.block-menu {
    min-height: 40px;
}

.nav-tabs li {
    cursor: pointer;

    a:focus {
      outline: inherit;
    }
}

.modal-dialog {
    width: 300px;

    .modal-content {
       width: 350px;
    }
}

.modal-body .form-group label {
    width: 100%;
}

.modal-content .icon-remove {
  position: absolute;
  top: 15px;
  right: 7px;
  display: block;
  width: 20px;
  height: 20px;
  background: url('../images/icon_close.png') 0 0 no-repeat;
}

.modal-content .icon-remove:hover {
  cursor: pointer;
  background: url('../images/icon_close_hover.png') 0 0 no-repeat;
}

.title {
    margin: 0 5%;
    text-shadow: 1px 0 12px rgba(54, 118, 231, 0.5);
}

.welcome {
    width: 600px;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 15px;
    padding: 12px;
    border: 1px solid #0086B3;
    border-radius: 15px;
    box-shadow: 1px 0 12px rgba(0,0,0,0.5);
}

.methods {
    width: 600px;
    font-size: 16px;
    margin-left: 20px;

}
.wrapper-home .tab-pane.ng-scope.active {
    position: absolute;
    left: 650px;
    top: 0;
    font-size: 17px;
    padding-right: 15px;
    overflow-y: auto;
    height: 443px;
}

.wrapper-home {
    position: relative;
}

.panel-heading {
    cursor: pointer;
}

.custom-tab a {
    display: inline-block;
    height: 42px;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;

}

.nav-pills.nav-stacked li {
    cursor: pointer;
}

.custom-tab:hover {
    border-radius: 5px;
    background-color: #eee;
}

.custom-tab.active {
    border-radius: 5px;
    background-color: #428bca;
}

.custom-tab.active a {
    color: #ffffff;
}

.list-group .list-expertise {
    color: #0F43E9;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(81, 211, 159, 0.33);
    border-radius: 75px;
    margin-bottom: 5px;
}

.list-group .list-expertise:hover {
    color: #0100f7;
    background-color: rgba(78, 189, 139, 0.58);
}

.list-group .list-expertise .remove-expertise {
    float: right;
    margin-top: 2px;
}

.list-group .list-expertise .remove-expertise:hover {
    color: rgba(236, 236, 236, 0.97);
}

.expertise-goal {
    font-style: oblique;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.58);
}

.criterions {
  ul {
    padding-left: 0;

    li {
      margin-left: 20px;
      list-style: none;
      padding-bottom: 8px;
    }
  }
}

.expertise-name {
  display: inline-block;
  width: 80%;
}
.panel-group {
  margin-bottom: 0px;
}

.add-btn:extend(.btn, .btn-success all) {}
.delete-btn:extend(.btn, .btn-danger all) {}
.edit-btn:extend(.btn, .btn-primary all, .glyphicon, .glyphicon-pencil all) {}
.save-btn:extend(.btn, .btn-success all, .glyphicon, .glyphicon-ok all) {}
.cancel-btn:extend(.btn, .btn-danger all, .glyphicon, .glyphicon-share-alt all) {}
.add-expertise-btn:extend(.btn all, .btn-lg all, .btn-primary all, .glyphicon all, .glyphicon-plus all){}

.experts-table:extend(.table all, .table-hover all) {
  .delete-btn {
    display: none;
  }
  .added_expert {
    .add-btn {
      display: none;
    }
    .delete-btn {
      display: block;
    }
  }
}

input {
  margin-top: 0 !important;
  line-height: 20px !important;
}

label {
  display: inline-block;
  font-size: 12px;
}

select {
  width: 100%;
  height: 40px;

  &:focus {
    border: 1px solid #66afe9;
  }
}

.form-control {
  max-width: 300px;
}

.no-expertise {
  width: 430px;
}

/* Message Box
**********************/
.alert-warning {
  background-color: rgba(120, 120, 120, 0.80);
  color: #54FF84;
  font-weight: bold;
  border: none;
}
.custom-massage-box {
  min-height: 40px;
  width: 311px;
  padding: 10px;
  position: absolute;
  top: 53px;
  margin: auto 50%;
  z-index: 1000;
  padding-right: 22px;
}
.alert-dismissable .close {
  position: absolute;
  top: 7px;
  right: 9px;
}
