<% include ../_shared/header/html %>

<div style="padding: 20px;">

<p>Hello <%=firstName%>,</p>

<p>you had subscribed for new account on <a href='localhost:3000'>Expertise</a></p>

<p>click the link to confirm your email: <a href="<%=confirmationLink%>"><%= confirmationLink %></a></p><br/>

<p>Please use password <b><%=password%>"</b> for login.</p>
<p>Expertise team.</p>

</div>

<br/>
<% include ../_shared/footer/html %>